:root {
  --main-color: gray;
  --primary-color: #d4b483;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "fira sans", "Droid Sans" "Helvetica Neue", sans-serif;
}
body {
  background-color: blue;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}
.carousel-control-next-icon {
  color: blue;
}
.carousel-control-next {
  color: blue;
}
.sss {
  height: 100vh;
  padding-top: 10%;
  width: 70vw;
}
